h1 {color: #FAEBD7	;
font-size: 50px;
;}
h1 {text-align: center;}
div {text-align: center;}
table {text-align: center;}
table{color: #F0F8FF;}
table{font-family:verdana}
table{border: 2px solid black; border-collapse: collapse;}
table{float:right;}
table{font-size: 17.5px;}
table{font-style: oblique;}
h2{font-style: oblique;}
h2{font-size: 25px;}
h2{color: #F0F8FF;}
h3{font-size: 25px;}
h3{color: #F0F8FF;}
h3{font-style: oblique;}
body {
    background-color: #87CEFA
    ;
  }
i {
    text-align: center;
}